@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import "./styles/globals.css";
@import "./styles/variables.css";

@theme {
    --color-blue: #00258d;
    --color-green: #029947;
    --color-red: #920202;
}
